<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Agregar Lugar{% endblock %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Lugar</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Agregar Lugar</h2>
        {% if error %}
        <div style="color: red;">{{ error }}</div>
        {% endif %}
        <form method="POST" action="{{ url_for('agregar_lugar') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.nombre.label }} {{ form.nombre(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.descripcion.label }} {{ form.descripcion(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.latitud.label }} {{ form.latitud(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.longitud.label }} {{ form.longitud(class_="form-control") }}
            </div>
            <div class="form-group">
                <label for="categorias">Categorías</label>
                <div>
                    <input type="checkbox" name="categorias" value="comida"> Comida<br>
                    <input type="checkbox" name="categorias" value="cultura"> Cultura<br>
                    <input type="checkbox" name="categorias" value="deporte"> Deporte<br>
                    <input type="checkbox" name="categorias" value="naturaleza"> Naturaleza<br>
                    <input type="checkbox" name="categorias" value="vidaNocturna"> Vida Nocturna<br>
                    <input type="checkbox" name="categorias" value="parque"> Parque<br>
                    <input type="checkbox" name="categorias" value="escultura"> Escultura<br>
                </div>
            </div>
            <div class="form-group">
                {{ form.estado.label }} {{ form.estado(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </form>
    </div>
    
    <!-- Enlace a Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <a href="{{ url_for('lugares') }}">Volver a Inicio</a>
</body>
</html>

{% endblock %}