<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Formulario de Registro</h2>
        {% if error %}
        <div style="color: red;">{{ error }}</div>
        {% endif %}
        <form method="POST" action="{{ url_for('registro') }}">
            {{ form.hidden_tag() }}
            
            <div class="form-group">
                <label for="username">{{ form.username.label }}</label>
                {{ form.username(class="form-control") }}
                {% for error in form.username.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            
            <div class="form-group">
                <label for="email">{{ form.email.label }}</label>
                {{ form.email(class="form-control") }}
                {% for error in form.email.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            
            <div class="form-group">
                <label for="password">{{ form.password.label }}</label>
                {{ form.password(class="form-control") }}
                {% for error in form.password.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            
            <div class="form-group">
                <label for="es_admin">{{ form.es_admin.label }}</label>
                {{ form.es_admin(class="form-control") }}
                {% for error in form.es_admin.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
    
    <!-- Enlace a Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
