<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Lugares</title>
</head>
<body>
    <h2>Lugares Disponibles</h2>
    <form action="{{ url_for('eliminar_lugares') }}" method="POST"> 
    <ul>
        {% for lugar in lugares %}
            <li>
                <input type="checkbox" name="lugares" value="{{ lugar._id }}">
                Id: {{ lugar._id }} - Nombre: {{ lugar.nombre_sitio }} - Latitud: {{ lugar.latitud }}, Longitud: {{ lugar.longitud }}
            </li>
        {% endfor %}
    </ul>
    <button type="submit">Eliminar Lugares Seleccionados</button>
    </form>
    <br>
    <a href="{{ url_for('lugares') }}">Volver</a>
</body>
</html>
 