curl -X POST \
  http://127.0.0.1:5000/recomendaciones \
  -H 'Content-Type: application/json' \
  -d '{
    "sitio": {
       "nombre": "Campanil Udec",
  "descripcion": "campanil de la universidad de concepcion",
  "latitud": -36.82843,
  "longitud": -73.03733,
  "categorias": [
    "cultura",
    "parque"
  ],
  "estado": "activo",
  "fecha_creacion": {
    "$date": "2024-06-12T11:34:44.378Z"
  },
  "usuario_creo": "pinwin"
    }
}'
