form input {
    background-color: black; /* Fondo negro */
    color: white; /* Color del texto blanco */
    border: 1px solid white; /* Borde blanco */
    padding: 5px; /* Espacio interno */
    margin-bottom: 10px; /* Espacio entre elementos */
}

/* Estilo para el texto junto a los checkboxes */
label {
    color: rgb(216, 180, 180); /* Color del texto */
}

button {
    background-color: #106e15; /* Color de fondo verde */
    color: white; /* Color del texto blanco */
    padding: 10px 20px; /* Ajusta el espacio alrededor del texto */
    border: none; /* Quita el borde */
    border-radius: 5px; /* Añade bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Estilo para el botón cuando se pasa el ratón por encima */
button:hover {
    background-color: #09ff00; /* Color de fondo más oscuro */
}
