/* stylePaginaPrincipal.css */

/* Estilo para la lista */
ul {
    padding: 10px; /* Añade espacio alrededor de la lista */
    border-radius: 5px; /* Añade bordes redondeados */
}

/* Estilo para los elementos de la lista */
ul li {
    list-style-type: none; /* Quita los puntos de la lista */
    margin-bottom: 5px; /* Añade espacio entre elementos de la lista */
}

/* Estilo para los enlaces dentro de la lista */
ul li a {
    color: #333; /* Color del texto de los enlaces */
    text-decoration: none; /* Quita el subrayado de los enlaces */
}

/* Estilo para el botón */
button {
    background-color: #7a1818; /* Color de fondo verde */
    color: white; /* Color del texto blanco */
    padding: 10px 20px; /* Ajusta el espacio alrededor del texto */
    border: none; /* Quita el borde */
    border-radius: 5px; /* Añade bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Estilo para el botón cuando se pasa el ratón por encima */
button:hover {
    background-color: #ff0000; /* Color de fondo más oscuro */
}
